
<ion-header>
  <ion-navbar  color="headerBg">
      <my-back text="首页" *ngIf="tab" (click)="closeModal()"></my-back> 
      <ion-title text-center>修改密码</ion-title>
  </ion-navbar>
</ion-header>


<ion-content id="editPassword">
  <ion-list>
    <div>
      <ion-item>
        <ion-label stacked>新密码</ion-label>
        <ion-input type="number" placeholder='请输入密码' [(ngModel)]="password"></ion-input>
      </ion-item>
    </div>
    <ion-item>
      <ion-label stacked>确认密码</ion-label>
      <ion-input type="number" placeholder="请再次输入密码" [(ngModel)]="repassword"></ion-input>
    </ion-item>
    <p class="tip" *ngIf="showmsg"><i> *</i> {{msg}}</p>
    <ion-item class="btn">
      <button ion-button full large color="loginBtn" (click)="comfirm(password,repassword)">
        确认
      </button>
    </ion-item>
  </ion-list>
</ion-content>
<div *ngIf="editsuccess" id="mask">  </div>
<div *ngIf="editsuccess" id="cont">成功修改密码</div>
