my-radio {
    .dpflex {
        display: flex;
        .radio {
            width:2rem;
            height: 2rem;
            border: 1px solid gray;
            border-radius: 1.1rem;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            i{
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 25px;
                background: limegreen;
            }
        }
    }
}
