page-editPhone {
    .title-md{
        margin-left: 7rem;
    }
        #editPhone {
            background: #f4f4f4;
            z-index: 1;
            ion-list {
                padding-top: 20px;
                ion-item {
                    border-top:none;
                    background: #f4f4f4;
                    border:none;
                    padding-right: 12px;
                    .item-inner {
                        border:none;
                    }
                    &.btn {
                        border-radius: 5px;
                        margin-top: 25px;
                        ion-label {
                            margin-right: 0;
                        }
                    }
                    ion-label {
                        font-weight: 700;
                        font-size:16px;
                    }
                    ion-input {
                        background: #fff;
                        padding:.5rem 1rem;
                        margin-top:.5rem;
                    }
                }
                .code {
                    position: absolute;
                    right:2rem;
                    top:6.5rem;
                    color:#50b8ec;
                }
                .tip {
                    padding-left:16px;
                    i{
                        color: red;
                    }
                }
            }
        }
        #mask{
            background: #818181;
            filter:alpha(Opacity=60);
            -moz-opacity:0.6;
            opacity: 0.6; 
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 100;       
        }
        #cont{
            filter:alpha(Opacity=100);
            -moz-opacity:1;
            opacity: 1; 
            position: absolute;
            width: 14.4rem;
            height: 9.2rem;
            border-radius: 1rem;
            left: 50%;
            top:50%;
            transform:translate(-50% ,-150%) ;
            background: #ffffff;
            z-index: 1000;
            font-family: PingFang-SC-Regular;
            font-size: 1.7rem;
            color: #333333;
            text-align: center;
            line-height: 9.2rem;
        }
    }

    